################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Ent.Framework/v15
/Ent.Framework/bin/Debug/netcoreapp2.1
/Ent.Framework/obj
/Ent.Framework.Log/obj
/.vs/Ent.Framework/DesignTimeBuild
/Ent.Framework.Log/bin/Debug/netcoreapp2.1
/Ent.Framework.UnitTest/obj/Debug/netcoreapp2.1
/Ent.Framework.UnitTest/obj
